body, div {
  font-family: 'Fira Sans', Fira Sans, Lato, Open Sans, sans-serif !important;
}
pre, code {
  font-family: 'Source Code Pro', Source Code Pro, Ubuntu Mono, Lucida Console, monospace;
  font-size: 0.9em;
}

body {
}
  header {

  }
    header h1 {
      font-size: 1.2em;
      color: #505050;
      display: inline-block;
      vertical-align: middle;
    }
    header nav {
      display: inline-block;
      vertical-align: middle;
    }
      header nav a {
        font-size: 0.9em;
        margin-left: 1.2em;
        text-decoration: none;
        color: #7090b0;
      }
        header nav a:hover {
          color: #305070;
        }

  a {
    color: #305070;
  }

  .dataset-name {
    font-weight: bold;
    margin-right: 1.2em;
  }

  .plot {
    width: 100%;
    min-height: 20em;
    height: 30em;
  }

  form {

  }
    form .pca-settings, .autoencoder-settings, .rbm-settings {
      display: none;
    }
    form.active-pca .pca-settings {
      display: block;
    }
    form.active-autoencoder .autoencoder-settings {
      display: block;
    }
    form.active-rbm .rbm-settings {
      display: block;
    }
    form label {
      color: #505050;
      font-size: 0.9em;
    }
      form label.pure-button {
        margin: 0;
      }
    form .small-input {
      width: 4em;
      font-size: 0.8em;
    }
    form .medium-input {
      width: 8em;
    }
    form .numeric-input {
      display: inline-block;
      font-size: 0.8em;
      background: #e0e0e0;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      padding: .5em .6em;
      vertical-align: middle;
    }
    form .mini-button {
      padding: .3em .6em;
      font-size: 0.8em;
    }
    form .pure-button-remove {
      background-color: #f44336;
    }

  footer {
    margin-top: 1em;
    padding: 1em 0 2em;
    border-top: 1px solid #ccc;

    font-size: 0.85em;
    color: #505050;
    text-align: center;
  }
