* {

}

body {

}
  header {

  }
    header h1 {
      font-size: 1.2em;
      color: #505050;
    }

  a {
    color: #305070;
  }

  .dataset-name {
    font-weight: bold;
  }

  .plot {
    width: 100%;
    min-height: 20em;
  }

  form {

  }
    form .small-input {
      width: 4em;
    }

  footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;

    font-size: 0.85em;
    color: #505050;
    text-align: center;
  }
