<!DOCTYPE html>
<html>
  <head>
    <title>dlvisR - Visualization of Deep Learning Techniques</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/pure-min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/grids-responsive-min.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/highlight.css"/>
    <script src="{{ site.baseurl }}/js/main.js"></script>
  </head>
  <body>
    <div class="pure-g">
      <div class="pure-u-1-24 pure-u-md-1-6"></div>
      <div class="pure-u-22-24 pure-u-md-2-3">
        <!-- Content START! -->
        <header>
          <h1>dlvis<span class="little-r">R</span></h1>
          <nav>
            <a href="{{ site.baseurl }}/about/">About</a>
            <a href="{{ site.baseurl }}">Extra visualizations</a>
            <!--a href="https://github.com/fdavidcl/dlvisR/wiki">Documentation</a-->
            <a href="https://github.com/fdavidcl/dlvisr">Source code</a>
            <!--<a href="#">CRAN</a>-->
          </nav>
        </header>
        <h2>{{ page.title }}</h2>
        {{ content }}
        <footer>
          dlvisR © David Charte.
          <p>All code is licensed under the <a href="http://fdavidcl.mit-license.org/">MIT License</a> unless otherwise stated.</p>
          <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
          <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
            <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0">
          </a>
          <br>
          To the extent possible under law,
          <span resource="[_:publisher]" rel="dct:publisher">
            <span property="dct:title">David Charte</span></span>
          has waived all copyright and related or neighboring rights to these
          <span property="dct:title">dlvisR visualizations</span>.
        </p>
        </footer>
      </div>
      <div class="pure-u-1-24 pure-u-md-1-6"></div>
    </div>
  </body>
</html>
